.pokemon-card {
  background-color: rgba($color: #fff, $alpha: 0.6);
  border-radius: 2.5rem;
  box-shadow: 0 #fff;
  color: #000;
  height: 22.5rem;
  list-style: none;
  padding: 1.25rem;
  text-align: center;
  transition: all 0.6s linear;
  &--header {
    font-family: "Roboto Slab";
    margin: 0.5rem 0 1rem;
  }
  &--text {
    margin: 0.5rem 0 0;
  }
  &--small {
    font-size: 0.5rem;
    font-style: italic;
  }
  &:hover {
    box-shadow: 0px 0px 10px #fff;
    transform: translateY(-10px);
  }
}
