.pokemon-container {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  &--header {
    justify-self: center;
    padding: 1rem 0;
  }
  &--cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
  &--link {
    justify-self: center;
  }
}

@media (max-width: 1000px) {
  .pokemon-container {
    &--cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 750px) {
  .pokemon-container {
    &--cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .pokemon-container {
    &--cards {
      grid-template-columns: 100%;
    }
  }
}
