.pokemon-form {
  background-color: rgba($color: #fff, $alpha: 0.6);
  border-radius: 2.5rem;
  color: #000;
  justify-self: center;
  margin: 2.5rem 0 1.5rem;
  padding: 2rem;
  width: 100%;
  &--input {
    margin-bottom: 1rem;
  }
}
